@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		/* p,
		h1,
		h2,
		h3,
		h4,
		h5,
		h6 {
			color: white;
		} */

		--background: 0 0% 3%;
		--foreground: 222.2 84% 4.9%;

		--muted: 210 40% 96.1%;
		--muted-foreground: 215.4 16.3% 46.9%;

		--popover: 0 0% 100%;
		--popover-foreground: 240 10% 3.9%;

		--card: 0 0% 100%;
		--card-foreground: 222.2 84% 4.9%;

		--border: 214.3 31.8% 91.4%;
		--input: 214.3 31.8% 91.4%;

		--primary: 0 0% 3%;
		--primary-foreground: 210 40% 98%;

		--secondary: 210 40% 96.1%;
		--secondary-foreground: 222.2 47.4% 11.2%;

		--accent: 210 40% 96.1%;
		--accent-foreground: 222.2 47.4% 11.2%;

		--destructive: 0 72.2% 50.6%;
		--destructive-foreground: 210 40% 98%;

		--ring: 222.2 84% 4.9%;

		--radius: 0.5rem;
	}

	.dark {
		--background: 0 0% 3%;
		--foreground: 210 40% 98%;

		--muted: 217.2 32.6% 17.5%;
		--muted-foreground: 215 20.2% 65.1%;

		--popover: 240 10% 3.9%;
		--popover-foreground: 0 0% 98%;

		--card: 222.2 84% 4.9%;
		--card-foreground: 210 40% 98%;

		--border: 217.2 32.6% 17.5%;
		--input: 217.2 32.6% 17.5%;

		--primary: 0 0% 3%;
		--primary-foreground: 222.2 47.4% 11.2%;

		--secondary: 217.2 32.6% 17.5%;
		--secondary-foreground: 210 40% 98%;

		--accent: 240 3.7% 15.9%;
		--accent-foreground: 0 0% 98%;

		--destructive: 0 62.8% 30.6%;
		--destructive-foreground: 210 40% 98%;

		--ring: hsl(212.7, 26.8%, 83.9);
	}
}

@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply bg-background text-foreground;
		font-family: 'ABeeZee', sans-serif;
	}
}

#main1 {
	background-image: url('/main1.png');
	background-size: cover;
	background-position: center;
	display: flex;
	margin-left: 5vw;
	margin-right: 5vw;
	padding-top: 25vh;
	border-radius: 25px;
	justify-content: center;
	height: 85vh;
	font-size: 14px;
}

.paragraph-width {
	max-width: 500px;
	margin: 0 auto;
}

@media (max-width: 640px) {
	.paragraph-width {
		max-width: 315px;
	}
}

#video-container video {
	border-radius: 25px;
}

#video-container {
	height: 85vh;
}

#main2 {
	display: flex;
	margin-left: 5svw;
	margin-right: 5svw;
	border-radius: 25px;
	justify-content: center;
	align-items: center;
	height: 85vh;
	font-size: 14px;
}

#main3 {
	background: linear-gradient(to right, #0f0c29, #302b63, #24243e);
	display: flex;
	margin-left: 5svw;
	margin-right: 5svw;
	padding-top: 25svh;
	border-radius: 25px;
	justify-content: center;
	height: 85vh;
	font-size: 14px;
}

#aquinai {
	background: linear-gradient(to right, #0f0c29, #302b63, #24243e);
	display: flex;
	margin-left: 5svw;
	margin-right: 5svw;
	padding-top: 25svh;
	border-radius: 25px;
	justify-content: center;
	height: 85vh;
	width: 85vw;
	font-size: 14px;

	background: linear-gradient(
		to right,
		#ff0000,
		#ff6666,
		#ff3333,
		#ff4d4d,
		#ff7f00,
		#ff9966,
		#ff8c33,
		#ffae4d,
		#ffff00,
		#ffff66,
		#ffff33,
		#ffff4d,
		#7fff00,
		#aaff66,
		#8cff33,
		#b3ff4d,
		#00ff00,
		#66ff66,
		#33ff33,
		#4dff4d,
		#00ff7f,
		#66ff99,
		#33ff8c,
		#4dffae,
		#00ffff,
		#66ffff,
		#33ffff,
		#4dffff,
		#007fff,
		#6699ff,
		#338cff,
		#4db3ff,
		#0000ff,
		#6666ff,
		#3333ff,
		#4d4dff,
		#7f00ff,
		#9966ff,
		#8c33ff,
		#ae4dff,
		#ff00ff,
		#ff66ff,
		#ff33ff,
		#ff4dff
	);

	background-size: 2000% 2000%;
	animation: gradientAnimation 30s ease infinite;
	overflow: hidden;
}

@keyframes gradientAnimation {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

#main4 {
	background-image: linear-gradient(to top, #ff0844 0%, #ffb199 100%);
	display: flex;
	margin-left: 5svw;
	margin-right: 5svw;
	border-radius: 25px;
	justify-content: center;
	align-items: center;
	height: 85vh;
	font-size: 14px;
}

.swiper {
	width: 100%;
	height: 100%;
}

.swiper-slide {
	text-align: center;
	font-size: 18px;
	background: transparent;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100vw;
}

.swiper-slide img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.nav {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 1000;
	background: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
	transition: background-color 0.2s ease-in-out;
	border: none;
	outline: none;
}
